# -----------------------------
# FastAPI & Server
# -----------------------------
fastapi>=0.110
uvicorn[standard]>=0.27

# -----------------------------
# Configuration & Env
# -----------------------------
pydantic>=2.6
pydantic-settings>=2.2

# -----------------------------
# Authentication & Security
# -----------------------------
python-jose[cryptography]>=3.3
passlib==1.7.4 
bcrypt==3.2.2
email-validator>=2.0


# -----------------------------
# Database (PostgreSQL)
# -----------------------------
sqlalchemy>=2.0
asyncpg>=0.29
psycopg2-binary>=2.9
alembic>=1.13
greenlet>=3.0

# -----------------------------
# Background Tasks
# -----------------------------
celery>=5.3
redis>=5.0

# -----------------------------
# HTTP Client
# -----------------------------
httpx>=0.26

# -----------------------------
# Logging & Utilities
# -----------------------------
loguru>=0.7
python-multipart>=0.0.9

slowapi>=0.1.4
limits


requests

